.hidden {
  position: absolute;
  opacity: 0;
}

.button--theme_hero, .button--theme_footer, .button--theme_portfolio {
  display: inline-block;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
  border-radius: 4px;
  border-style: none;
  cursor: pointer;
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button--theme_hero:hover, .button--theme_footer:hover, .button--theme_portfolio:hover, .button--theme_hero:focus, .button--theme_footer:focus, .button--theme_portfolio:focus {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.container, .container-footer {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

body {
  margin: 0;
  padding: 0;
  font-family: Roboto, sans-serif;
  font-size: 14px;
  font-style: normal;
  letter-spacing: 0.03em;
  line-height: 1.14;
  text-align: center;
  background-color: #ffffff;
  color: #212121;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

li {
  display: block;
}

a {
  display: block;
  text-decoration: none;
  color: inherit;
}

h2,
h3,
h4,
h5,
h6,
h1,
p {
  padding: 0;
  margin: 0;
}

img {
  display: block;
}

.logo {
  color: #2196f3;
  font-family: Raleway, sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.logo:hover, .logo:focus {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.logo__accent {
  color: #000000;
}

.address-box__logo {
  margin-bottom: 40px;
}

.logo__accent--invers {
  color: #ffffff;
}

.button--theme_hero {
  padding: 10px 32px;
  min-width: 200px;
  font-weight: bold;
  line-height: 1.87;
  letter-spacing: 0.06em;
  background-color: #2196f3;
  color: #ffffff;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.button--theme_footer {
  text-align: center;
  padding: 10px 28px;
  font-weight: 900;
  line-height: 1.87;
  letter-spacing: 0.06em;
  background-color: #2196f3;
  color: #ffffff;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.sub-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.icon-plane {
  display: inline-block;
  margin-left: 10px;
  fill: currentColor;
  color: #ffffff;
}

.button--theme_portfolio {
  padding: 6px 22px;
  font-weight: 500;
  line-height: 1.62;
  letter-spacing: 0.03em;
  background-color: #f5f4fa;
  color: #212121;
}

.button--theme_portfolio:hover, .button--theme_portfolio:focus {
  color: #ffffff;
  background-color: #2196f3;
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 3px 1px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 3px 1px rgba(0, 0, 0, 0.1);
}

.button-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: -4px;
}

@media screen and (max-width: 767px) {
  .button-list {
    margin-bottom: 40px;
  }
}

@media screen and (min-width: 768px) {
  .button-list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .button-list {
    margin-bottom: 50px;
  }
}

.button-list_item {
  margin: 4px;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.social__item:not(:last-child) {
  margin-right: 10px;
}

.social__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  color: #afb1b8;
  border-radius: 50%;
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social__link--theme_footer {
  margin-bottom: 60px;
  background-color: rgba(255, 255, 255, 0.1);
}

.social__link:hover, .social__link:focus {
  color: #ffffff;
  background-color: #2196f3;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.social__icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.social__icon--theme_footer {
  fill: #ffffff;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.container__title {
  margin-bottom: 30px;
  font-weight: bold;
  font-size: 28px;
  line-height: 1.18;
}

@media screen and (min-width: 1200px) {
  .container__title {
    margin-bottom: 50px;
    font-size: 36px;
  }
}

@media screen and (min-width: 480px) {
  .container-footer {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container-footer {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container-footer {
    width: 1200px;
  }
}

.page-header {
  position: relative;
  border-bottom: 1px solid #ececec;
}

.page-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 60px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (min-width: 768px) {
  .page-nav {
    min-height: 80px;
  }
}

.menu-container {
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  background-color: #ffffff;
}

.menu-container.is-open {
  display: block;
}

@media screen and (max-width: 767px) {
  .menu-container {
    display: none;
    position: absolute;
    top: 101%;
    left: 0;
    width: 100%;
    z-index: 9;
    min-height: 393px;
    padding: 60px 0 60px 0;
    -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.16), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 4px 8px rgba(0, 0, 0, 0.04);
            box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.16), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 4px 8px rgba(0, 0, 0, 0.04);
  }
}

@media screen and (min-width: 768px) {
  .menu-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-preferred-size: 507px;
        flex-basis: 507px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    font-size: 14px;
    line-height: 1.14;
  }
}

@media screen and (min-width: 1200px) {
  .menu-container {
    -ms-flex-preferred-size: 935px;
        flex-basis: 935px;
  }
}

@media screen and (max-width: 767px) {
  .page-nav__list {
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 768px) {
  .page-nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (min-width: 768px) {
  .site-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.site-nav__item {
  position: relative;
}

@media screen and (max-width: 767px) {
  .site-nav__item:not(:last-child) {
    margin-bottom: 40px;
  }
}

@media screen and (min-width: 768px) {
  .site-nav__item:not(:last-child) {
    margin-right: 50px;
  }
}

.site-nav__item--active {
  display: inline-block;
}

.site-nav__item--active::after {
  content: '';
  position: absolute;
  display: block;
  width: 100%;
  height: 4px;
  bottom: 0;
  background: #2196f3;
  border-radius: 2px;
}

@media screen and (min-width: 767px) {
  .site-nav__link {
    padding: 32px 0 32px 0;
  }
}

.site-nav__link:hover, .site-nav__link:focus {
  color: #2196f3;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.site-nav__link--active {
  position: relative;
  top: -5px;
  color: #2196f3;
}

@media screen and (min-width: 1200px) {
  .contacts-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (max-width: 767px) {
  .contacts-list__item:not(:last-child) {
    margin-bottom: 16px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contacts-list__item:not(:last-child) {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .contacts-list__item:not(:last-child) {
    margin-right: 30px;
  }
}

@media screen and (min-width: 768px) {
  .contacts-list__item {
    text-align: start;
  }
}

.contacts-list__link {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #757575;
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-list__link:hover, .contacts-list__link:focus {
  color: #2196f3;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.contacts-list__icon {
  margin-right: 10px;
  fill: currentColor;
}

.menu-button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: lime;
}

@media screen and (min-width: 768px) {
  .menu-button {
    display: none;
  }
}

.menu-button .icon-cross {
  display: none;
}

.menu-button.is-open .icon-cross {
  display: block;
}

.menu-button.is-open .icon-menu {
  display: none;
}

.hero {
  max-width: 480px;
  min-height: 400px;
  margin-left: auto;
  margin-right: auto;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.8)), to(rgba(47, 48, 58, 0.8))), url("../images/hero.jpg");
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)), url("../images/hero.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-container {
  padding: 118px 0 118px 0;
}

.hero-title {
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}

@media screen and (min-width: 768px) {
  .hero-title {
    font-size: 44px;
    line-height: 1.36;
  }
}

@media screen and (min-width: 768px) {
  .features {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -15px;
  }
}

.features__item {
  width: 100%;
}

@media screen and (max-width: 767px) {
  .features__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .features__item {
    width: calc((100% - 2 * 30px) / 2);
    margin: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .features__item {
    width: calc((100% - 4 * 30px) / 4);
    margin: 15px;
  }
}

.features__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 120px;
  margin-bottom: 30px;
  background-color: #f5f4fa;
  border-radius: 4px;
}

.features__box--title {
  margin-bottom: 10px;
  font-size: inherit;
  font-weight: bold;
  text-transform: uppercase;
}

.features__box--description {
  text-align: start;
  margin-bottom: 0;
  line-height: 1.71;
  color: #757575;
}

@media screen and (max-width: 1199px) {
  .mobile-container {
    display: none;
  }
}

.occupation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.occupation__item {
  position: relative;
  width: calc((100% - 2 * 30px) / 3);
}

.occupation__item:not(:last-child) {
  margin-right: 30px;
}

.occupation__name {
  position: absolute;
  bottom: 0;
  padding: 27px 0 27px 0;
  font-size: 14px;
  font-weight: bold;
  line-height: 1.14;
  text-transform: uppercase;
  color: #ffffff;
  width: 100%;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
}

.color_section {
  background-color: #f5f4fa;
}

@media screen and (min-width: 768px) {
  .developers {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -15px;
  }
}

.developers__item {
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
  -webkit-box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
}

@media screen and (max-width: 767px) {
  .developers__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .developers__item {
    width: calc((100% - 2 * 30px) / 2);
    margin: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .developers__item {
    width: calc((100% - 4 * 30px) / 4);
  }
}

.developers__meta {
  padding: 30px 32px 24px 32px;
}

.developers__name {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}

.developers__vocation {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.19;
  color: #757575;
}

.clients {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: -15px;
}

.clients__item {
  width: calc((100% - 2 * 30px) / 2);
  margin: 15px;
}

@media screen and (min-width: 768px) {
  .clients__item {
    width: calc((100% - 3 * 30px) / 3);
    margin: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .clients__item {
    width: calc((100% - 6 * 30px) / 6);
  }
}

.clients__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 90px;
  color: #afb1b8;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__link:hover, .clients__link:focus {
  color: #2196f3;
  border: 1px solid #2196f3;
  background-color: #ffffff;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.clients__icon {
  fill: currentColor;
}
/*# sourceMappingURL=main.css.map */