.logo {
  color: $accentColor;
  font-family: Raleway, sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    transform: scale(1.1);
  }
}

.logo__accent {
  color: $blackColor;
}

// .address-box__logo {
//   // display: flex;
// }

.logo__accent--invers {
  color: $primaryWhiteColor;
}
