.menu-button {
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: inherit;

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.menu-button:hover .icon-menu {
  color: $accentColor;
}

.menu-button:hover .icon-cross {
  color: $accentColor;
}

.icon-cross,
.icon-menu {
  fill: currentColor;
  color: $primaryTextColor;
}

.icon-menu:focus {
  color: $accentColor;
}

.menu-button .icon-cross {
  display: none;
}

.menu-button.is-open .icon-cross {
  display: block;
}

.menu-button.is-open .icon-menu {
  display: none;
}
