.social {
  display: flex;
  justify-content: center;
}

.social__item:not(:last-child) {
  margin-right: 10px;
}

.social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;

  color: $iconsColor;
  border-radius: 50%;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &--theme_footer {
    margin-bottom: 60px;
    background-color: rgba(255, 255, 255, 0.1);
  }

  &:hover,
  &:focus {
    color: $primaryWhiteColor;
    background-color: $accentColor;
    transform: scale(1.1);
  }
}

.social__icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.social__icon--theme_footer {
  fill: $primaryWhiteColor;
}
