$primaryWhiteColor: #ffffff;
$primaryTextColor: #212121;
$secondaryTextColor: #757575;
$accentColor: #2196f3;
$blackColor: #000000;
$secondaryBgColor: #f5f4fa;
$undergroundColor: rgba(47, 48, 58, 0.8);
$iconsColor: #afb1b8;
$footerContactsColor: rgba(255, 255, 255, 0.6);